@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2>Добро пожаловать на сайт фотосалона "Яркие моменты"!</h2>
				<p>Давайте сохраним все яркие моменты в нашей жизни!</p>
			</header>
			<span class="image featured"><img src="~/img/bg.png" alt="" /></span>
		</article>
	</div>
</div>
