<div class="col-4 col-12-medium">
    <div id="sidebar">
        <section>
            <header class="major">
                <h2>Добро пожаловать!</h2>
            </header>
            <p>
                Мы фотосалон, который может запечатлеть самые яркие моменты в Вашей жизни, передав все лучшие чувства происходящего. Мы работаем в самых разных условиях - от комфортной атмосферы на свадьбе, до экстримальных спортивных съемок. Наша команда готова к новым проектам и работает с профессиональным оборудованиям, поэтому Вы можете быть уверены в качестве наших работ. Будем рады реализовать Ваши проекты. С Уважением, команда "Яркие моменты"!  
            </p>
            <footer>
                <a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
                    Перейти к услугам
                </a>
            </footer>
        </section>
    </div>
</div>